body, h1, h2, h3, h4, h5, h6, p, div{
    padding: 0;
    margin: 0;
}
:root{
    --main-color: #004b55;
    --white: #fff;
    --font-main: "goergia";
    --grey: grey;
    --light-grey: rgb(239, 239, 239);
    --whine: rgb(116, 0, 0);
    --danger: red;
    --success: green;
    --warning: yellow;
}
.pre-header{
    background-color: var(--main-color);
    color: var(--white);
    padding: .2rem;
}
.pre-header a{
    color: var(--white);
    margin: 0 .4rem;
}
header{
    padding: 1.5rem 0;
}
.logo h1{
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.logo span{
    display: block;
    font-weight: 400;
    letter-spacing: 2rem;
}
.logo a{
    text-decoration: none;
    color: var(--main-color);
}
#menu{
    display: none;
}
#mobile-nav{
    display: none;
}
.desktop-nav ul, #mobile-nav li{
    list-style: none;
}
.desktop-nav li {
    display: inline-block;
}
.desktop-nav ul a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 .5rem;
}
.desktop-nav a:hover{
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 10px;
}
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./images/bed2.jpeg);
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1{
    display: none;
}
.hero h2{
    text-transform: capitalize;
    font-style: italic;
    font-size: 4rem;
    font-family: var(--font-main);
    
}
.motto button{
    background-color: var(--main-color);
    border-radius: 5rem;
    border: none;
    outline: none;
    color: var(--white);
    padding: .8rem 2.2rem;
    font-size: 1.5rem;
}
.motto button:hover{
    background-color: var(--white);
    color: var(--main-color);
}
.home-booking .container{
    margin-top: -2rem;
    background-image: linear-gradient(rgba(0,75,85,0.7), rgba(0,75,85,0.7));
    padding: 1.5rem;
    border-radius: 1rem;
}
.home-booking .desktop-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-booking .desktop-form button{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
    letter-spacing: .2rem;
}


/* about  */
.about-section{
    padding: 6rem 0;
}
.about-section .container{
    display: flex;
    justify-content: space-between;
}
.about-section p{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 300;
}
.about-section img{
    width: 400px;
}
.about-section a{
    color: var(--white);
}

/* services  */
.service-section, .bookin-card-section{
    padding: 5rem 0;
}
.service-section .blog-post a li{
    padding: .5rem 0;
    color: var(--grey);
    text-transform: uppercase;
}
.blog-post h3{
    text-transform: uppercase;
    font-weight: 300;
}
.service-section .container, .bookin-card-section .container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.bookin-card-section h1{
    font-family: var(--font-main);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 1rem 0;
}
.bookin-card-section a, .service-section a{
    text-decoration: none;
}

/* reuseables  */
.card{
    padding: 1rem;
}


/* news letter section  */
.news-letter-section{
    height: 30vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 75, 85, 0.5), rgba(0, 75, 85, 0.5)), url(./images/bed1.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
}
.news-letter-section h2{
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--white);
    justify-self: center;
    width: 300px;
}
.news-letter-section .container form{
    display: flex;
}
.news-letter-section button{
    width: 200px;
    margin: 0 .3rem;
    background-color: var(--whine);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    outline: none;
    border: 2px solid var(--whine);

}

/* testimonila section  */
.testimonial-section{
    padding: 5rem 0;
}
.testimonial-section h2{
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 300;
    font-family: var(--font-main);
}
.testimonial-section button{
    background-color: var(--main-color);
}


/* footer  */
.footer-section{
    padding: 5rem 0;
    background-color: var(--light-grey);
}

iframe {
      width: 100%;
      margin-top: 2rem;
    }
.footer-section li{
    list-style: none;
}
.footer-section li a{
    text-decoration: none;
    color: var(--grey);
    line-height: 30px;
}
.footer-section li a:hover{
    border-bottom: 1px solid var(--grey);
}
.footer-section h6{
    margin-left: 2rem;
    color: var(--main-color);
    font-size: 1.1rem;
}
.footer-box{
    display: flex;
    justify-content: space-between;
}





@media(max-width: 450px){
    .pre-header{
        display: none;
    }
    header{
        display: none;
    }
    .hero h1{
        font-size: 1rem;
        display: block;
        color: var(--white);
    }
    .hero span{
        letter-spacing: 20px;
        margin-left: 15px;
    }
    #menu{
        display: block;
        font-size: 2rem;
        padding: 0 1rem;
        border: 1px solid var(--white);
        border-radius: 10px;
    }
    #mobile-nav{
        background-color: var(--white);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
    }x
    #mobile-nav i{
        font-size: 2.3rem;
    }
    .hero{
        padding: 1rem;
        display: block;
        height: 60vh;
    }
    .hero h2{
        font-size: 2rem;
    }
    .hero .motto{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mobile-nav i{
        font-size: 2.3rem;
    }
    #mobile-nav ul{
        border-left: 1px solid grey;
    }
    #mobile-nav a{
        color: var(--main-color);
        text-transform: uppercase;
        text-decoration: none;
        margin: 2rem;
    }
    .about-section{
        padding: 3rem 0;
    }
    .about-section p{
        font-size: 1rem;
    }
    .about-section img{
    width: 375px;
}
    
    .home-booking .desktop-form input, .home-booking .desktop-form select{
        margin-bottom: 1rem;
    }
    .socials{
        margin-bottom: 2rem;
    }
    .blog-post{
        display: none;
    }
    

    /* reusable  */
    .home-booking .desktop-form, .about-section .container, .service-section .container, .footer-box, .bookin-card-section .container{
        display: block;
    }
    .about-section, .service-section, .bookin-card-section{
        padding: 2rem 0;
    }

    /* footer  */
    
    .footer-section{
        font-size: 130%;
        padding: 2rem 0;
    }
    .footer-section .logo{
        text-align: center;
    }
    .footer-section .logo span{
        margin-left: 2rem;
    }
    .footer-box1{
        margin-bottom: 2rem;
    }
    .footer-section h6{
        font-size: 1rem;
    }
    .footer-section a{
        font-size: .8rem;
    }
    
}